html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

#try-again {
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 10%;
  height: 32px;
  color: #fff;
  background: #1abc9c;
  border: 1px solid #14a78a;
  z-index: 5;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#floating-panel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-top: 15%;
}
#floating-panel input {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	padding-left: 10px;
	width: 30%;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
}
#floating-panel #go {
	margin: 0 auto;
	width: 31%;
	padding: 10px 0px;
	border: 1px solid #14a78a;
	border-radius: 5px;
	background: #1abc9c;
	opacity: 1;
	color: #fff;
	cursor: pointer;
}
#floating-panel #go.inactive {
	background: #a6e0d4;
	cursor: not-allowed;
}
